@import "tailwindcss";

.flex-right {
    justify-content: flex-end;
}

.bg-custom-grey {
    background-color: #f3f3f3;
}

.bg-custom-grey-hover:hover {
    background-color: black;
}

.categorySliderImage {
    height: 300px;
    max-width: unset;
    width: auto;
}

.slick-track {
    display: flex !important;
    gap: 15px !important;
}
.text-custom-grey {
    color: #E8E8E8 !important;
}

.productBox {
    flex: 30%;
}

@keyframes fade-in-out {
  0% { opacity: 0; transform: translateY(20px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(20px); }
}

.animate-fade-in-out {
  animation: fade-in-out 4s ease-in-out forwards;
}